<!DOCTYPE html>
<html lang="en">
  <head>
    <Title><%= title%></Title>
  </head>
  <body>
    <h1><%= title%></h1>
    <div>
      <form action="/create-asset" method="POST">
        <fieldset>
          <legend>Asset info</legend>
          <label for="assetName">Name:</label>
          <input type="text" name="assetName" id="assetName" /><br />
          <label for="assetType">Type:</label>
          <select name="assetType" id="assetType">
            <option value="laptop">Laptop</option>
            <option value="mouse">Mouse</option>
            <option value="keyboard">Keyboard</option>
            <option value="headset">headset</option>
            <option value="laptop_bag">Laptop bag</option>
            <option value="laptop_charger">Laptop charger</option></select
          ><br />
          <label for="assetBrand">Brand:</label>
          <input type="text" name="assetBrand" id="assetBrand" /><br />
          <label for="assetNumber">Serial number:</label>
          <input type="text" name="assetNumber" id="assetNumber" /><br />
          <label for="assetStatus">Status</label>
          <select name="assetStatus" id="asssetStatus">
            <option value="assigned">Assigned</option>
            <option value="unassigned">Unassigned</option>
          </select>
          <button type="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <a href="/assets">Back to asset list</a>
  </body>
</html>
